<! DOCTYPE html>  
<html>  
<head>  
<title>  Bootstrap Rating widget  
</title>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<link rel="stylesheet" href="css/furniture-styles.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/admin/user-manage.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

<body>
  
<!-- Top menu -->
<nav class="navbar navbar-dark fixed-top">
  <div class="container">
   <h4 style="color: rgb(195, 191, 191);">Admin</h4>
    

      <a class="navbar-brand" href="index.html">Bootstrap Hamburger Menu</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span></span>
          <span></span>
          <span></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link scroll-link " href="/admin/adminDashboard">Dashboard</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link scroll-link" href="/admin/productDetails">Product Details</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link scroll-link" href="/admin/productCategory">Category</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link scroll-link" href="#section-3">Order Details</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link scroll-link active" href="/admin/userManagement">User Details</a>
              </li>
          </ul>
      </div>

  </div>
  
</nav>
 
<div style="padding-left: 20px; padding-right: 20px;">
    <div style="margin-top: 77px;" class="col-sm-6 mb-3 mb-m-1 order-md-1 text-md-left">
                <a style="text-decoration: none; color: black;" href="/admin/userManagement">
                    <i class="fas fa-arrow-left mr-2"></i>Back to user management</a>
            </div>
<table class="table ">
    
  <thead class="thead-dark">
    <tr>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Zip</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    {{#if this.ban }}
    <tr style="height: 80px; ">
      <td>{{this.fname}}</td>
      <td>{{this.lname}}</td>
      <td>{{this.email}}</td>
      <td>{{this.phone}}</td>
      <td>{{this.address}}</td>
      <td>{{this.city}}</td>
      <td>{{this.state}}</td>
      <td>{{this.zip}}</td>
      {{!-- {{#unless this.Boolean }} --}}
      {{!-- <td><a href="/admin/banUser/{{this._id}}" onclick="return confirm('Are you sure to ban {{this.fname}}')"><button class="btn btn-outline-dark">Ban <i style="color: red;" class="fa fa-ban "></i></button></a></td>
      {{else}} --}}
      <td><a href="/admin/removeBan/{{this._id}}" onclick="return confirm('Are you sure to unban  {{this.fname}}')"><button class="btn btn-outline-dark">Unban <i style="color: green;" class="fa fa-ban "></i></button></a></td>
     
      {{!-- <td><a href="/admin/deleteUser/{{this._id}}" onclick="return confirm('Are you want to delete {{this.fname}}')"><i class="bi bi-trash3-fill pdtDelete"></a></td> --}}


      
    </tr>
     {{/if}}
   {{/each}}
  </tbody>
</table></div>


<!-- continues the page content ... -->
 
 
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>  
</html>  