<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@2.0.2/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/user/productDetails.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

       <title>GadgetZon</title>
     <link rel="shortcut icon" href="\images\online-shopping.png">
  </head>
  <body>

    <header class="sticky-top">
      <nav
        class="navbar navbar-expand-md navbar-dark bg-dark main-menu sticky-top"
        style=" box-shadow:none; width: 100%; z-index:100;"
      >
        <div class="container">
          <a class="navbar-brand" href="#">
            <h4 class="font-weight-bold"><h3>Gadget<font
                  color="#FFD523"
                >Zon</font></h3></h4>
          </a>

          <ul class="navbar-nav ml-auto d-block d-md-none">
            <li class="nav-item">
              <a style="color: white;" class="btn btn-link" href="#"><i
                  class="bx bxs-cart icon-single"
                ></i></a>
              <a style="color: white;" class="btn btn-link" href="/wishlist"><i
                  class="bi bi-bag-heart-fill"
                ></i></a>
            </li>
          </ul>

          <div class="collapse navbar-collapse">
            <form class="form-inline my-2 my-lg-0 mx-auto">
              <input
                class="form searchsize"
                type="search"
                placeholder="  Search for products..."
                aria-label="Search"
              />
              <button
                style="background-color: #F26522;"
                class="btn my-2 my-sm-0"
                type="submit"
              ><i class="bx bx-search"></i></button>
            </form>

            <ul class="navbar-nav">
              <li class="nav-item">
                <a style="color: white;" class="btn btn-link" href="/cart"><i
                    style="font-size: 25px;"
                    class="bx bxs-cart icon-single"
                  ></i></a>
              </li>

              <li class="nav-item">
                <a
                  style="color: white;"
                  class="btn btn-link"
                  href="/wishlist"
                ><i class="bi bi-bag-heart-fill"></i></a>
              </li>

            </ul>
          </div>

        </div>
      </nav>
      <div
        style="position: fixed; width: 100%; z-index: 50;"
        class="search-bar d-block d-md-none bg-dark"
      >
        <div class="container">
          <div class="row">
            <div class="col-12">
              <form class="form-inline mb-3 mx-auto">
                <input
                  class="form-control"
                  type="search"
                  placeholder="Search for products..."
                  aria-label="Search"
                  style="width: 318px;"
                />
                <button
                  style="background-color: #F26522;"
                  class="btn"
                  type="submit"
                ><i class="bx bx-search"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </header>
    {{#if result.cancelStatus}}
      <section>
        <div class="flex-Container">
          <div class="flex-item-left">

       
            <div><img
                style="width: 400px; height: 400px; margin-top: 100px;"
                class="img-fluid"
                src="/product_img/{{result.products.0.main_image.0.filename}}"
                alt=""
              /></div>

          </div>

          <div
            style="overflow:hidden; overflow-y: scroll; max-height: 658px;"
            class="flex-item-right mb-3"
          >
            <div style="padding-top: 40px; "><h2
                class="txt-align"
              >{{result.products.0.productname}} </h2><hr />

              <h2 class="txt-align">
                <i
                  style="font-size: 20px; position: relative; top: -7px;"
                  class="bi bi-currency-rupee"
                ></i>{{result.products.0.price}}
                /-</h2>

              <hr />
              <h4 class="txt-align">Quantity :
                {{result.products.0.cartQuantity}}
              </h4><hr />
              <h4 class="txt-align">Ordered date : {{date}} </h4><hr
              />

              <h3 style="text-align: left;"><span
                  style="background-color: rgb(242, 97, 44);"
                  class="badge d-inline"
                >Cancelled</span></h3>

            </div>

          </div>
        </div>
      </section>
    {{else}}
      <section>
        <div class="flex-Container">
          <div class="flex-item-left">

            <div><img
                style="width: 400px; height: 400px; margin-top: 100px;"
                class="img-fluid"
                src="/product_img/{{result.products.0.main_image.0.filename}}"
                alt=""
              /></div>

          </div>

          <div
            style="overflow:hidden; overflow-y: scroll; max-height: 658px;"
            class="flex-item-right mb-3"
          >
            <div style="padding-top: 40px; "><h2
                class="txt-align"
              >{{result.products.0.productname}} </h2><hr />

              <h2 class="txt-align">
                <i
                  style="font-size: 20px; position: relative; top: -7px;"
                  class="bi bi-currency-rupee"
                ></i>{{result.products.0.price}}
                /-</h2>

              <hr />
              <h4 class="txt-align">Quantity :
                {{result.products.0.cartQuantity}}
              </h4><hr />
              <h4 class="txt-align">Order date : {{date}} </h4><hr
              />
              <h4 class="txt-align">Payment Mode : {{result.paymentStatus}} </h4><hr
              />
              {{#if result.deliveryStatus}}
                <h5 style="text-align: left;"><span
                    class="badge badge-success rounded-pill d-inline"
                  >Delivered</span></h5><hr />
              {{else}}
                <h4 class="txt-align">Expected Delivery :
                  {{result.dispatch}}
                </h4><hr />
                 <h4 class="txt-align">Order Status :
                  {{result.orderStatus}}
                </h4><hr />
              {{/if}}
              <h4 class="txt-align">Ordered Address :<br /><h5
                  style="text-align: left;"
                > {{result.address.address}},{{result.address.city}},{{result.address.state}}</h5></h4><hr />
              {{#if result.deliveryStatus}}
                <div style="display: flex;">
                   <button
                    type="button"
                    class="btn btn-warning btn-md mb-2"
                    data-toggle="modal"
                    data-target="#exampleModalCenter"
                  >
                    <h5>Return order</h5>
                  </button>&nbsp;&nbsp;
                  <button onclick="Invoice('{{result._id}}')" type="button"  class="btn btn-warning btn-md mb-2"><h5>Invoice download</h5></button>
                </div>
                 <!-- Modal -->
                  <div
                    class="modal fade"
                    id="exampleModalCenter"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="exampleModalCenterTitle"
                    aria-hidden="true"
                  >
                    <div
                      class="modal-dialog modal-dialog-centered"
                      role="document"
                    >
                      <div class="modal-content">

                        <div
                          class="modal-body"
                          style="display: flex; justify-content: center; font-size: 25px; font-family: cursive;"
                        >
                          Are you sure to return the order.
                        </div>
                        <div
                          style="display: flex; justify-content: center;"
                          class="modal-footer"
                        >
                          <button
                            type="button"
                            class="btn btn-dark"
                            data-dismiss="modal"
                          >Close</button>
                          <a href="/returnOrder/{{result._id}}"><button
                              style="margin-top: 0px;"
                              type="button"
                              class="btn btn-danger"
                              data-toggle="modal"
                              data-target="#exampleModalCenter"
                            >Return</button></a>
                          {{! <button type="button" class="btn btn-primary">Save changes</button> }}
                        </div>
                      </div>
                    </div>
                  </div>
                   <!-- Modal End -->
              {{else}}
                <div style="display: flex;">

                  <button
                    type="button"
                    class="btn btn-warning btn-md mb-2"
                    data-toggle="modal"
                    data-target="#exampleModalCenter"
                  >
                    <h5>cancel order</h5>
                  </button>&nbsp;&nbsp;
                  <button onclick="Invoice('{{result._id}}')" type="button"  class="btn btn-warning btn-md mb-2"><h5>Invoice download</h5></button>

                  <!-- Modal -->
                  <div
                    class="modal fade"
                    id="exampleModalCenter"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="exampleModalCenterTitle"
                    aria-hidden="true"
                  >
                    <div
                      class="modal-dialog modal-dialog-centered"
                      role="document"
                    >
                      <div class="modal-content">

                        <div
                          class="modal-body"
                          style="display: flex; justify-content: center; font-size: 25px; font-family: cursive;"
                        >
                          Are you sure to cancel the order.
                        </div>
                        <div
                          style="display: flex; justify-content: center;"
                          class="modal-footer"
                        >
                          <button
                            type="button"
                            class="btn btn-dark"
                            data-dismiss="modal"
                          >Close</button>
                          <button
                              style="margin-top: -10px;"
                              type="button"
                              class="btn btn-danger"
                              data-toggle="modal"
                              data-target="#exampleModalCenter"
                              onclick="cancelOrder('{{result._id}}','{{result.paymentStatus}}','{{result.products.0.price}}')"
                            >cancel</button> 
                          {{! <button type="button" class="btn btn-primary">Save changes</button> }}
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              {{/if}}
               {{#if status}}
               <h5 style="color: red; text-align: left; ">Product return date is expired</h5>
               {{/if}}
            </div>

          </div>
        </div>
      </section>
    {{/if}}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/easyinvoice/dist/easyinvoice.min.js"></script>
     <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
     <script>
      function cancelOrder(orderID,payment,price){
        axios.post('/cancelOrder' ,{orderID,payment,price}).then((resp)=>{
          console.log(resp)
          if(resp.data.success){
            window.location.href='/orderHistory'
          }else{
            console.log("error")
          }
        }).catch(err=>{
          console.log(err)
        })
      }
      function Invoice(Id){
        axios.get('/invoice/'+Id).then((resp)=>{
          console.log(resp.data)
          
          
           var data = {
            "images": {
        // The logo on top of your invoice
        "logo": "https://i.ibb.co/4tZvsmy/Screenshot-187.png",
       
    },
    // Customize enables you to provide your own templates
    // Please review the documentation for instructions and examples
    "customize": {
        //  "template": fs.readFileSync('template.html', 'base64') // Must be base64 encoded html 
    },
    "sender": {
        "company": "Payment",
        "address": resp.data.result[0].paymentStatus
        
        //"custom1": "custom value 1",
        //"custom2": "custom value 2",
        //"custom3": "custom value 3"
    },
     "client": {
        "company": "Shipping To",
        "address": resp.data.result[0].address.address ,
        "zip":  resp.data.result[0].address.city  ,
        "city": resp.data.result[0].address.zip  ,
        "country":  resp.data.result[0].address.phone 
        // "custom1": "custom value 1",
        // "custom2": "custom value 2",
        // "custom3": "custom value 3"
    },
     
    
    "information": {
        // Invoice number
        "number":resp.data.result[0].address.fname + resp.data.result[0].address.lname,
        // Invoice data
        "date": resp.data.result[0].orderID,
         "due-date": resp.data.date
        // Invoice due date
        
    },
    // The products you would like to see on your invoice
    // Total values are being calculated automatically
    "products": [
        {
            "quantity":  resp.data.result[0].products[0].cartQuantity,
            "description": resp.data.result[0].products[0].productname,
             "description": resp.data.result[0].products[0].productname,
            "tax-rate": 0,
            "price": resp.data.result[0].products[0].price
        }
       
    ],
    // The message you would like to display on the bottom of your invoice
    "bottom-notice": "Thankyou for purchasing from us",
    // Settings to customize your invoice
    "settings": {
        "currency": "INR", // See documentation 'Locales and Currency' for more info. Leave empty for no currency.
        // "locale": "nl-NL", // Defaults to en-US, used for number formatting (See documentation 'Locales and Currency')
        // "tax-notation": "gst", // Defaults to 'vat'
        // "margin-top": 25, // Defaults to '25'
        // "margin-right": 25, // Defaults to '25'
        // "margin-left": 25, // Defaults to '25'
        // "margin-bottom": 25, // Defaults to '25'
        // "format": "A4", // Defaults to A4, options: A3, A4, A5, Legal, Letter, Tabloid
        // "height": "1000px", // allowed units: mm, cm, in, px
        // "width": "500px", // allowed units: mm, cm, in, px
        // "orientation": "landscape", // portrait or landscape, defaults to portrait
    },
    // Translate your invoice to your preferred language
    "translate": {
         "invoice": "Order Invoice",  // Default to 'INVOICE'
        "number": "Name", // Defaults to 'Number'
         "date": "Order ID", // Default to 'Date'
         "due-date": "Order Date", // Defaults to 'Due Date'
        // "subtotal": "Subtotaal", // Defaults to 'Subtotal'
        // "products": "Producten", // Defaults to 'Products'
        // "quantity": "Aantal", // Default to 'Quantity'
        // "price": "Prijs", // Defaults to 'Price'
        // "product-total": "Totaal", // Defaults to 'Total'
        // "total": "Totaal" // Defaults to 'Total'
    },
};
    easyinvoice.createInvoice(data, function (result) {
         
        easyinvoice.download('Invoice.pdf', result.pdf);
   
    });
        })
      }
     </script>
  </body>
</html>