<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.0.2/css/boxicons.min.css">
    <link rel="stylesheet" href="/stylesheets/user/productDetails.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  

      <title>GadgetZon</title>
     <link rel="shortcut icon" href="\images\online-shopping.png">
  </head>
  <body>

  <header class="sticky-top">
        <nav  class="navbar navbar-expand-md   navbar-dark bg-dark main-menu sticky-top" style=" box-shadow:none; width: 100%; z-index:100;">
  <div class="container">
    <a class="navbar-brand" href="#">
      <h4 class="font-weight-bold"><h3>Gadget<font color="#FFD523">Zon</font></h3></h4>
    </a>

    <ul class="navbar-nav ml-auto d-block d-md-none">
      <li class="nav-item">
     <a style="color: white; font-weight: bold; font-family: cursive; text-decoration: none;" class="btn btn-link" href="/shop-page"><i class="bi bi-handbag"></i></a>
      <a style="color: white;" class="btn btn-link" href="/cart"><i class="bx bxs-cart icon-single"></i></a>
      <a style="color: white;" class="btn btn-link" href="/wishlist"><i class="bi bi-bag-heart-fill"></i></a>
    </li>
    </ul>

    <div class="collapse navbar-collapse">
      <form class="form-inline my-2 my-lg-0 mx-auto" action="/search-product" role="search">
        <input class="form searchsize" name="productname" type="search" placeholder="  Search for products..." aria-label="Search" >
        <button style="background-color: #F26522;" class="btn my-2 my-sm-0" type="submit"><i class="bx bx-search"></i></button>
      </form>

      <ul class="navbar-nav">
        <li class="nav-item">
         <a style="color: white; font-weight: bold; font-family: cursive; text-decoration: none;" class="btn btn-link" href="/shop-page"><i class="bi bi-handbag"></i></a>

        </li>
        <li class="nav-item">
          <a style="color: white;" class="btn btn-link" href="/cart"><i style="font-size: 25px;" class="bx bxs-cart icon-single"></i></a>
        </li>

        <li class="nav-item">
          <a style="color: white;" class="btn btn-link" href="/wishlist"><i class="bi bi-bag-heart-fill"></i></a>
        </li>
      

        
      </ul>
    </div>

  </div>
</nav>
<div style="position: fixed; width: 100%; z-index: 50;" class="search-bar d-block d-md-none bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form class="form-inline mb-3 mx-auto" action="/search-product" role="search">
          <input class="form-control" type="search" name="productname" placeholder="Search for products..." aria-label="Search"  style="width: 288px;">
          <button  style="background-color: #F26522;" class="btn " type="submit"><i class="bx bx-search"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>
</header>

<section>
   <div class="flex-Container">
  <div  class="flex-item-left">

  <div  id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="margin-top: 126px;">
  <div class="carousel-inner">
     <div class="carousel-item active">
      <img style="width: 200px; height: 400px; object-fit: contain;" class=" w-50 img-fluid" src="{{result.main_image.[0].url}}" alt="First slide">
    </div>
    {{#each result.sub_image}}
    <div class="carousel-item ">
      <img style="width: 400px; height: 400px; object-fit: contain;" class=" img-fluid" src="{{ this.url}}" alt="First slide">
    </div>
    {{/each}}
  </div>
</div>
 
  </div>


  <div style="overflow:hidden; overflow-y: scroll; max-height: 658px;" class="flex-item-right mb-3">
  <div style="padding-top: 40px; "><h2 class="txt-align mb-2">{{result.productname}}</h2>
  <h6 class="txt-align">{{result.discription}}</h6>
  <hr>

   <h2 class="txt-align"> <i style="font-size: 20px; position: relative; top: -7px;" class="bi bi-currency-rupee"></i>{{result.price}} /-</h2><hr>
   <div style="display: flex;">
     <button class=" btn btn-warning" onclick="addToCart('{{result._id}}')">Add to cart</button>
   </div>
   <hr>
   <h4 class="txt-align">About this item</h4>
<h6 style="text-align: left;">{{result.discription2}}</h6>
 <hr> 
   </div>

  </div>
</div>
</section>
   

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
        crossorigin="anonymous"></script>
     <script src="/javascript/slider/zoom-image.js"></script>
     <script src="/javascript/slider/main.js"></script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
 
<script>
  function addToCart(proId){
  
     axios.get('/addToCart/'+proId).then((response)=>{
      console.log(response)
      if(response?.data?.count){
         window.location.href='/cart'
         document.getElementById('count').innerText=response.data.count
        
      }else{
        window.location.href='/login'
       
      }
     
      
    }).catch(err=>{
      console.log(err)
    })
}
</script>
  </body>
</html>